doctype html
html(lang="en")
  head
    include head
    link(rel="stylesheet", href="jqplot/jquery.jqplot.min.css")
    script(type="text/javascript", src="jqplot/jquery.jqplot.min.js")
    script(type="text/javascript", src="jqplot/jqplot.dateAxisRenderer.min.js")
  body
    div.container(style="margin-top: 25px")
      div.well
        div(style="text-align: center;")
          img(src="logo.png", alt="Simplicit&eacute; Software", style="width: 100%; max-width: 500px;")
      div.row
        div.col-md-12= "Date " + healthcheck.date + " (elapsed time: " + healthcheck.elapsedtime + " ms)"
      div.row
        div.col-md-4
          h1 OS
          table.table.table-striped
            tr
              th Code
              th Value
            tr
              td Name
              td= os.name
            tr
              td Architecture
              td= os.architecture
            tr
              td Version
              td= os.version
        div.col-md-4
          h1 Platform
          table.table.table-striped
            tr
              th Code
              th Value
            tr
              td Status
              td= platform.status
            tr
              td Version
              td= platform.version
            tr
              td Built date
              td= platform.builton
            tr
              td Encoding
              td= platform.encoding
        div.col-md-4
          h1 Application
          table.table.table-striped
            tr
              th Code
              th Value
            tr
              td URL
              td= application.contexturl
            tr
              td Context path
              td= application.contextpath
            tr
              td Active sessions
              td= application.activesessions
            tr
              td Users (enabled / total)
              td= application.enabledusers + " / " + application.totalusers
      div.row
        div.col-md-4
          h1 Java VM
          table.table.table-striped
            tr
              th Code
              th Value
            tr
              td Name
              td= javavm.vendor + " " + javavm.vmname 
            tr
              td Version
              td= javavm.version + " " + javavm.vmversion
            tr
              td Heap (max / used / free)
              td= javavm.heapmaxsize + " / " + javavm.heapsize + " / " + javavm.heapfree
        div.col-md-4
          h1 Cache
          table.table.table-striped
            tr
              th Code
              th Value
            tr
              td Grants (used / max)
              td= cache.grantcache + " / " + cache.grantcachemax
            tr
              td Objects (used / max)
              td= cache.objectcache + " / " + cache.objectcachemax
            tr
              td Process (used / max)
              td= cache.processcache + " / " + cache.processcachemax
        div.col-md-4
          h1 Disk
          table.table.table-striped
            tr
              th Code
              th Value
            tr
              td Disk (free / usable)
              td= disk.diskfree + " / " + disk.diskusable
      include foot